*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid black; */

}
:root{
    --primarycolor: #181818;
    /*
        white
        #000000 
        #181818
        #121212 
    */
    --secondarycolor: rgb(240, 239, 239);
    /*
        #FAFAFA
    */

    --accentcolor: #BB86FC;
    --position: center;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: var(--primarycolor);
}

header{
    height: 700px;
    background: linear-gradient(to right, rgba(26, 17, 17, 0.5), rgba(73, 11, 11, 0.541)), url("Ile_Ife_aerial_scape.jpg");
    background-size:cover;
    background-position: var(--position);
    display: flex;
    flex-direction: column;
    justify-content: var(--position);
    align-items: center;
    font-size: 1.5em;
    color: var(--primarycolor);
    animation-name:fade-in;
    animation-duration: 4s;
    /* text-align: center; */
}

h1{
    animation-name: puffup;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

header p{
    animation-name:slide-down;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
}

@keyframes fade-in{
    from{opacity: 0; }
    to{opacity: 1;}
}

@keyframes puffup{
    from{font-size:1.5em; color: black; }
    to{font-size: 2.5em; color: white; }
}

@keyframes slide-down{
    from{color: black;}
    to{color:white}
}

section.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding: 50px 20px;
    gap: 20px;
}


.city-card{
    padding: 10px;
    margin:5px;
    justify-content: flex-start;
    align-items: var(--position);
    background-color:var(--secondarycolor);
    color: var(--primarycolor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    animation-name: slide-up;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay:2s;
    
   
}

@keyframes slide-up{
    from{top: 40px;}
    to{top: 0px}
}

.city-card img{
    height: 250px ;
    width: 250px;
    object-fit: cover;
    object-position: var(--position);
    transition: transform 1s;
    /*
     or
     transition: width 1s, height 1s;
    */

}

.city-card img:hover{
    transform: scale(1.1);
    /*
    or

    width: 300px;
    height: 300px;
     */
}

.city-card a{
    text-decoration: none;
    color: var(--secondarycolor)
    
}

.city-card button{
    background-color: var(--accentcolor);
    size: 105%;
    transition: transform 1s;
}

.city-card :hover{
    transform: scale(1.1);
    color: purple;
}



footer {
    text-align: var(--position);
    color: var(--secondarycolor);
}